.container{
    margin-top: 1rem;
}
.search{
    position: relative;
}
.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.filters select{
    width: 11%;
}
.filters label{
    width: 10%;
}



















.create{
    position: absolute;
    border-radius: 50%;
    height: 4em;
    width: 5%;
    left: 93%;
    top: 4%;    
    box-shadow: 1px 1px 1px 1px black;
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}
.create p{
    color: rgb(21, 19, 19);
    margin-top: -1rem;
    font-size: 16px;
    cursor: pointer; 
    margin-top: 0.5rem;  
}
@keyframes slidein{
    from {
        background-color: rgba(120, 156, 156, 0.5);
    }
    to{
        background-color: rgba(244, 248, 248, 0.73);
        transform: scale(1.1)
    }
}


